.App {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  text-transform: capitalize;
  width: 1080px;
}

.top-container {
  flex: 0 0 100%;
  margin-bottom: 20px;
  text-align: center;
}

.left-container,
.right-container {
  flex: 1;
}

.top-half-container {
  min-height: 400px;
  min-width: 400px;
}

.bottom-half-container {
  min-height: 290px;
}
